/*
* Personal web styles
* Made by Ashari Muhammad Hisbulloh
* 08 June 2019
*/
* {
  box-sizing: border-box; }

html, body {
  background: #fff;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0; }

.container {
  margin: auto;
  max-width: 1080px; }

.container-flex {
  align-items: center;
  display: flex;
  margin: auto;
  max-width: 1080px;
  width: 100%; }

.content-section {
  padding: 48px 0; }

/*
* Header
*/
#header {
  background: url("../images/trees.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%; }

#navbar {
  background: none;
  padding: 16px 0;
  width: 100%; }
  #navbar .container {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  #navbar .logo img {
    height: 40px; }
  #navbar #navbar-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    #navbar #navbar-nav li a {
      color: #fff;
      font-size: 14px;
      margin: 0 16px;
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
      #navbar #navbar-nav li a:after {
        content: "";
        background: #fff;
        bottom: -6px;
        height: 2px;
        left: 0;
        position: absolute;
        width: 0;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease; }
      #navbar #navbar-nav li a:hover:after {
        width: 25px; }

#header-hero {
  align-items: center;
  color: #fff;
  display: flex;
  height: 400px;
  width: 100%; }
  #header-hero .container {
    width: 1080px; }
  #header-hero h2 {
    font-size: 32px;
    margin-bottom: 16px; }
    #header-hero h2 small {
      display: block;
      font-size: 16px;
      font-weight: 400; }
  #header-hero .hero-subtitle {
    letter-spacing: 0.055em;
    line-height: 1.75em;
    margin-bottom: 48px;
    max-width: 600px; }
  #header-hero .btn-more {
    border: solid 2px #fff;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px; }

/*
* About section
*/
#about .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 32px; }
#about .about-img {
  width: 450px; }
#about .about-content {
  max-width: 450px; }
  #about .about-content h3.about-title {
    color: #343a40;
    font-size: 16px;
    letter-spacing: 0.175em;
    line-height: 29px;
    margin: 0;
    text-transform: uppercase; }
  #about .about-content h1 {
    font-size: 40px;
    margin: 0;
    text-transform: uppercase; }
    #about .about-content h1 span {
      color: #fd4f5d; }
  #about .about-content p {
    color: #a8adaf;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.65em;
    margin-bottom: 40px; }
#about .btn-more {
  background-color: #fd4f5d;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 13px 30px;
  text-decoration: none;
  text-transform: uppercase; }

/*
* Blog section
*/
#posts .post-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px; }
#posts .post-content a {
  text-decoration: none; }
  #posts .post-content a:hover .post-title {
    color: #fd4f5d; }
#posts .post-content .post-img {
  border: none;
  outline: none;
  width: 100%; }
#posts .post-content .post-date {
  color: #d4d6d7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.115em;
  text-transform: uppercase; }
#posts .post-content .post-title {
  color: #343a40;
  font-size: 22px;
  margin: 0;
  min-height: 56px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }
#posts .post-content .post-description {
  color: #a8adaf;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.75em;
  margin: 8px 0; }

/*
* Gallery
*/
#gallery .gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px; }
#gallery .gallery-content {
  cursor: pointer;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
