/*
* Personal web styles
* Made by Ashari Muhammad Hisbulloh
* 08 June 2019
*/

// variables
$white: #fff;
$blackGrey: #17181b;
$darkGrey: #333;
$charcoal: #343a40;
$softGrey: #a8adaf;
$watermelon: #fd4f5d;
$silver: #d4d6d7;

// mixins

@mixin transition($duration) {
  transition: all $duration*1s ease;
  -webkit-transition: all $duration*1s ease;
  -moz-transition: all $duration*1s ease;
  -o-transition: all $duration*1s ease;
}

* {
  box-sizing: border-box;
}

html, body {
  background: $white;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
}

.container {
  margin: auto;
  max-width: 1080px;
}

.container-flex {
  align-items: center;
  display: flex;
  margin: auto;
  max-width: 1080px;
  width: 100%;
}

.content-section {
  padding: 48px 0;
}

/*
* Header
*/
#header {
  background: url("../images/trees.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
}
#navbar {
  background: none;
  padding: 16px 0 ;
  width: 100%;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    height: 40px;
  }

  #navbar-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      color: $white;
      font-size: 14px;
      margin: 0 16px;
      position: relative;
      text-decoration: none;
      @include transition(0.3);

      &:after {
        content: "";
        background: $white;
        bottom: -6px;
        height: 2px;
        left: 0;
        position: absolute;
        width: 0;
        @include transition(0.3);
      }

      &:hover {

        &:after {
          width: 25px;
        }
      }
    }
  }
}

#header-hero {
  align-items: center;
  color: $white;
  display: flex;
  height: 400px;
  width: 100%;

  .container {
    width: 1080px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 16px;

    small {
      display: block;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .hero-subtitle {
    letter-spacing: 0.055em;
    line-height: 1.75em;
    margin-bottom: 48px;
    max-width: 600px;
  }

  .btn-more {
    border: solid 2px $white;
    color: $white;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 18px;
  }
}

/*
* About section
*/
#about {
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
  }

  .about-img {
    width: 450px;
  }
  .about-content {
    max-width: 450px;

    h3.about-title {
      color: #343a40;
      font-size: 16px;
      letter-spacing: 0.175em;
      line-height: 29px;
      margin: 0;
      text-transform: uppercase;
    }

    h1 {
      font-size: 40px;
      margin: 0;
      text-transform: uppercase;

      span {
        color: $watermelon;
      }
    }

    p {
      color: $softGrey;
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 1.65em;
      margin-bottom: 40px;
    }
  }
  .btn-more {
    background-color: $watermelon;
    border: none;
    border-radius: 3px;
    color: $white;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 13px 30px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/*
* Blog section
*/

#posts {
  .post-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }

  .post-content {

    a {
      text-decoration: none;

      &:hover {
        .post-title {
          color: $watermelon;
        }
      }
    }

    .post-img {
      border: none;
      outline: none;
      width: 100%;
    }

    .post-date {
      color: $silver;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.115em;
      text-transform: uppercase;
    }

    .post-title {
      color: $charcoal;
      font-size: 22px;
      margin: 0;
      min-height: 56px;
      text-transform: uppercase;
      @include transition(0.3);
    }

    .post-description {
      color: $softGrey;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: 1.75em;
      margin: 8px 0;
    }
  }
}

/*
* Gallery
*/

#gallery {
  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }

  .gallery-content {
    cursor: pointer;
    width: 100%;
  }
}

/*
* Contact
*/
#contact {
  .contact-wrapper {
    background: linear-gradient(TO top right, #00d8c2, #0068b7);
    border: none;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    padding: 32px;
  }

  .contact-title-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .contact-title, .contact-subtitle {
    color: $white;
    margin: 0;
  }

  .contact-subtitle {
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .contact-title {
    font-size: 28px;
    font-weight: 500;
  }

  .form-group {
    margin-bottom: 16px;

    .input-label {
      color: $white;
      display: block;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    .input-form {
      background: rgba(0,0,0,0.15);
      border: none;
      color: $white;
      font-family: 'Google Sans', Arial, Helvetica, sans-serif;
      font-size: 15px;
      padding: 12px;
      width: 100%;

      &::placeholder {
        color: rgba(255,255,255, 0.5);
      }
    }

    textarea.input-form {
      height: 122px;
    }

    .btn-contact-submit {
      background: $watermelon;
      border: none;
      font-family: 'Google Sans', Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: $white;
      padding: 8px 14px;
    }
  }
}

/*
* Footer
*/

#footer {
  background: $blackGrey;
  color: $white;

  .footer-wrapper {
    align-content: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    text-align: center;
  }

}
